.container {
    display:flex;
    background-color: #dedede;
    padding:1px;
    flex-wrap: wrap;
    flex-direction: row;
    width:55%;
    margin: auto;
}

.label {
    padding:25px;
    flex:1;
    background-color:#fefefe;
}

.value {
    padding: 20px;
    background-color: #aaa;
    flex:1;
}
body {
    background-color: LemonChiffon;
    background-image: url("download1.jpg");
}
