<html>
    <head>
        <script type="text/javascript" src="libs/vue.js"></script>
        <script type="text/javascript" src="libs/axios.js"></script>
    </head>
    <body>
        <a href="index.html">Home</a>
        <div id="update">
            Actualizare componenta cu id-ul: {{ id }} <br>
            <input type="text" v-model="component.name">
            <input type="text" v-model="component.price">
            <input type="text" v-model="component.Type">
            <button  v-on:click="update(component.id)">Update</button>

            <p>{{message}}</p>

        </div>

        <script src="src/update.js"></script>
    </body>
</html>